.popup__container {
  max-width: 430px;
  box-sizing: border-box;
  width: 100%;
  min-height: 330px;
  background-color: #FFF;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  margin: 0 auto;
  margin-top: 195px;
  padding: 34px 36px 0 36px;
  position: relative;
}
