.popup__overlay {
  position: relative;
  z-index: -1;
}

.popup__overlay::before {
  content: '';
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,.6);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
