.popup__close {
  width: 32px;
  height: 32px;
}

.popup__close::before {
  content: '';
  position: absolute;
  top: -18px;
  right: -32px;
  background-color: #fff;
  width: 32px;
  height: 3px;
  transform: rotate(-45deg);
}

.popup__close::after {
  content: '';
  position: absolute;
  top: -18px;
  right: -32px;
  background-color: #fff;
  width: 32px;
  height: 3px;
  transform: rotate(45deg);
}

@media screen and (max-width: 610px) {
  .popup__close::before {
    top: -16px;
    right: 0;
    width: 20px;
  }

  .popup__close::after {
    top: -16px;
    right: 0;
    width: 20px;
  }
}
