.popup__close {
  width: 32px;
  height: 32px;
}

.popup__close::before {
  content: '';
  position: absolute;
  top: -18px;
  right: -32px;
  background-color: #fff;
  width: 32px;
  height: 3px;
  transform: rotate(-45deg);
}

.popup__close::after {
  content: '';
  position: absolute;
  top: -18px;
  right: -32px;
  background-color: #fff;
  width: 32px;
  height: 3px;
  transform: rotate(45deg);
}
