.button__edit {
  width: 24px;
  height: 24px;
  background: url(../../../img/button-edit.svg) center center/cover no-repeat;
  border: 1px solid #fff;
  align-self: flex-start;
  margin-top: 14px;
  grid-area: edit;
}

.button__edit:hover {
  opacity: .6;
}

@media screen and (max-width: 610px) {
  .button__edit {
    margin-top: 8px;
    width: 18px;
    height: 18px;
  }
}
